signup

		<div class="centered_text">
			temporary navigation:
			<a href="index.html">
				<span class="label">home</span>
			</a>				
			<a href="new_post.html">
				<span class="label">|new post|</span>
			</a>				
			<a href="about.html">
				<span class="label">about</span>
			</a>				
			<a href="search.html">
				<span class="label">|search</span>
			</a>							
		</div>			