h1 {
	font-family: Calibri, "Helvetica Neue", Helvetica, Univers, Verdana, Arial, sans-serif;
	font-weight:100;
	font-size:50px;
	text-align:center
}
h2 {
	font-family: Calibri, "Helvetica Neue", Helvetica, Univers, Verdana, Arial, sans-serif;
	font-weight:300;
	font-size:30px;
}

span.label {
	font-family: Calibri, "Helvetica Neue", Helvetica, Univers, Verdana, Arial, sans-serif;
}

body {
}
	#container {
		margin: auto;
		width: 480px;
		border-style:solid;
		border-width:5px;
	}
		.title {
			font-family: Calibri, "Helvetica Neue", Helvetica, Univers, Verdana, Arial, sans-serif;
			text-align:center;
			font-size:40px;
		}
		.tagline {
			margin-top: -30px;
		}
		#fb_button {
			text-align:center;
			margin:auto;
		}
		.centered_text {
			text-align:center;
		}
		.realtalk_signin {
			margin-top: 20px;
		}
		.centered_text {
			text-align:center;
		}
		#email_field {
			margin-left: 80px;
		}
		#password_field {
			margin-left: 110px;
		}
		#button {
			margin-left: 270px;
		}
		.content {
			margin-left: 5px;
			
		}
		.post_button {
			margin-left: 370px;
		}
}
